html, body {
    font-family: 'Inter', sans-serif;
    background-color: #121212;
    height: 100%;
    font-size: 16px; 
}

.header-custom {
    background:  #181818;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card {
    background-color: #181818;
    border: none;
    border-radius: 12px;
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
}

.chat-area {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    background: linear-gradient(180deg,
            #680BAB 0%,
            #1a0f2e 30%,
            #121212 55%,
            #0b0b0b 100%);
}

.main-wrapper {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    height: 100vh; 
    display: flex;
    align-items: center;
}

.message {
    padding: 10px 14px;
    border-radius: 18px;
    margin-bottom: 10px;
    max-width: 70%;
    line-height: 1.4;
    font-size: clamp(14px, 1.2vw, 16px);
}

.user {
    background: #7A30B0;
    color: white;
    margin-left: auto;
}

.bot {
    background-color: #2a2a2a;
    color: #e0e0e0;
}

.btn {
    background: #7a30b0;
    border: none;
    color: white;
}

.btn:hover {
    background: #680bab;
    color: white;
    
}

.card {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
}

.card-header {
    flex-shrink: 0;
}

.card-footer {
    background-color: #181818;
    border-top: 1px solid #2a2a2a;
}

.form-control {
    background-color: #2a2a2a;
    color: #ffffff;
    border: none;
    font-size: 15px;
}

.form-control::placeholder {
    color: #9a9a9a;
}

.form-control:focus {
    box-shadow: 0 0 0 1px #3a3a3a;
    background-color: #2a2a2a;
    color: white;
}

.chat-area::-webkit-scrollbar {
    width: 6px;
}

.chat-area::-webkit-scrollbar-thumb {
    background: #5a189a;
}

@media (max-width: 768px) {
    .main-wrapper {
        width: 100%;
        height: 100vh;
        padding: 0;
    }
    
    .card {
        height: 100vh;
        border-radius: 0; 
    }

    .chat-area {
        padding: 10px;
    }

    .message {
        max-width: 85%;
        font-size: 13px;
    }
    
    body {
        font-size: 18px;
    }

    .message {
        font-size: 16px;
    }

    .form-control {
        font-size: 16px;
    }

    .btn {
        font-size: 15px;
        padding: 8px 12px;
    }

    .card-header h4 {
        font-size: 18px;
    }

    .card-header small {
        font-size: 13px;
    }
}
