body {
  background-color: #121212;
  font-family: 'Segoe UI', sans-serif;
}

.header-custom {
  background: linear-gradient(90deg, #5f00d3, #6d25c4,#9b5de5);
}

.chat-area {
  height: 760px;
  overflow-y: auto;
  background-color: #181818;
}

.message {
  padding: 10px 14px;
  border-radius: 20px;
  margin-bottom: 10px;
  max-width: 70%;
  font-size: 14px;
}

.user {
  background-color: #9b5de5;
  color: white;
  margin-left: auto;
}

.bot {
  background-color: #2a2a2a;
  color: #b3b3b3;
}

button {
  background-color: #8330cc;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
  background-color: #7b2cbf;
}

.chat-area::-webkit-scrollbar {
  width: 6px;
}

.chat-area::-webkit-scrollbar-thumb {
  background-color: #5600f5;
  border-radius: 10px;
}